.btn {
  background-color: yellow;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
}

.btn:hover {
  background: rgb(219, 219, 1);
}

.btn:active {
  background: yellow;
}

.btn:not(:last-of-type) {
  margin-right: 10px;
}
